@tailwind base;
@tailwind components;
@tailwind utilities;







*{
  font-family: 'Manrope', sans-serif;
}

.modal {
  height: calc(100vh - 81.14px);
}

.overlay {
  height: calc(100vh - 81.14px);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  
}

.over {
  overflow: hidden;
}

.solution-box:nth-child(2n){
  flex-direction: row-reverse;
}

@media (max-width:480px){
  .solution-box:nth-child(2n){
    flex-direction: column-reverse;
  }
}